*{
    margin:0;
}

body {
    margin: 0;
    min-height: 100vh; 
    color:black
}

#sup{
    position: relative;
    top: 0px;

    width: 100%;
    height: 100px;

    background-color: rgba(15, 15, 15, 0.906);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: inset 0 -50px 50px -20px rgba(0, 0, 0, 0.5);

    text-align: center;
}

#sup h1{
    position: relative;
    top: 20px;

    color:  white;
}

#opciones{
    display: flex;             
    justify-content: center;    
    align-items: center;

    width: 100%;
    height: 40px;

    background-color: rgba(15, 15, 15, 0.906);
    box-shadow: inset 0 50px 50px -20px rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px); 
}

#opciones *{
    position: relative;
    margin: 0 10px;

    color: white;

    background-color: rgba(53, 50, 46, 0.854);
    backdrop-filter: blur(25px);

    -webkit-backdrop-filter: blur(10px); 
    border-radius: 5px;
    border:rgba(238, 123, 9, 0.766);
}

#opciones input:hover{
    background-color: rgba(238, 204, 9, 0.766);
}

#cuerpo{
    display: flex; 
    gap: 20px;      
    padding: 20px;   
    margin-top: 20px;
}

#noticias{

    width: 400px;
    height: 530px;

    border: solid black;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px);
    
    border-radius: 5px;
    text-align: center;
}

h4, h5 {
    margin-top: 15px;
    margin-bottom: 10px;
    
}

#peliculas{
    width: 1000px;
    height: 530px;

    border: solid black;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px);
    
    border-radius: 5px;
    text-align: center;
}






