*{
    box-sizing: border-box;
}

#nuevaNoticia, #nuevaPelicula{
    position: relative;
    left: 200px;

    width: 1000px;
    height: 530px;

    border: solid black;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px);
    
    border-radius: 5px;

    color:black;
    text-align: center;
}

#titulo{
    position: relative;
    top:5%;
}

#titulo input{
    width: 30%;
    height: 70px;

    background: rgba(255, 255, 255, 0.1);
    border: solid black;
    border-radius: 4px;
    color: black;
    resize: none;
}

#nuevaNoticia #texto{
    position: relative;
    top:50px;
}

#nuevaNoticia textarea {
    width: 80%; 
    height: 250px;
    margin:15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border: solid black;
    border-radius: 10px;
    color: black;
    resize: none; 
}

#nuevaNoticia #boton{
    position: relative;
    bottom: 0;
    height: 100px;
    padding: 5%;
}

#nuevaNoticia button {
    padding: 10px 30px;
    background-color: #ee7b09;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s; 
}

#nuevaNoticia button:hover {
    transform: scale(1.05); 
}

