#nuevaPelicula{
    position: relative;
    display: flex;
    flex-direction: column;
    padding:20px;
    gap:15px;
}

.dropdown {
    margin-top: 0; 
    align-self: center; 
    position: relative; 
}

#generos{
    cursor: pointer;

    background-color: rgba(238, 124, 9, 0.9);
    border: solid rgba(238, 124, 9, 0.9);
    color: white;

    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 5px;
    z-index: 10000;

    width: 150px; 
}

.contenedor-archivo input{
    background-color: #ee7b09;
    border: solid rgba(238, 124, 9, 0.9);
    color: white;

    border-radius: 5px;
}

#vistaPrevia{
    position: absolute;
    right:  10%;
    top: 45%;
}

#imgPreview{
    width: 300px;
    height: auto;

    border-radius: 5px;
}

#nuevaPelicula #tituloPeli{
    margin-bottom: 0; 
    align-self: center;

    width: 300px;
    height: auto;
}

#nuevaPelicula #sinapsis{
   margin-top: 20px;
   margin-left: 5px;
   width: 400px;
   height: 300px;
   resize: none;
}

#nuevaPelicula > button{
    margin-top: auto;
    align-self: center;
    width: 150px;

    background-color: #ee7b09;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s; 
}

#nuevaPelicula button:hover {
    transform: scale(1.05); 
}